@model MVC_EF_LAB1_GestionLivres.Models.Membre

@{
    ViewBag.Title = "Effacer Membre";
}

<h2>Effacer Membre</h2>

<h3>Vous êtes sûr de vouloir supprimer ce membre?</h3>
<div>
    <hr />
    <dl class="dl-horizontal text-uppercase">
        <dt>
            @Html.DisplayNameFor(model => model.nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prenom)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.Adress.numéro_civique)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress.numéro_civique)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress.rue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress.rue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress.ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress.ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress.code_postal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress.code_postal)
        </dd>





        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.courriel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.courriel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_naissance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_naissance)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
